*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url('img/jumbo.png');
    background-size: contain;
}

nav{
    max-width: 1000px;
    min-width: 700px;
    height: 90px;
    margin: auto;
    
    /* background-color: aqua; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-section{
    min-height: 300px;
    max-width: 1000px;
    min-width: 700px;
    margin: auto;
    
    /* background-color: rgba(255, 166, 0, 0.596); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-ul{
    list-style-type: none;
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

li{
    min-width: 50px;
    min-height: 35px;

    font-size: 18px;
    color: white;
    padding: 5px;

    /* background-color: brown; */
}

.logo{
    width: 150px;
    height: 50px;
    padding-top: 5px;

    /* background-color: lightblue; */
}
.links{
    min-width: 400px;
    height: 50px;
    /* background-color: lightblue; */


}
.login{
    width: 80px;
    height: 40px;
    border-radius: 50px;
    font-size: 1em;
    border:none;
    /* background-color: lightblue; */
}

.title{
    /* background-color: rgba(255, 0, 0, 0.493); */
    min-height: 50px;
    min-width: 300px;
    color: white;
    text-align: center;
    font-size: 40px;
}

.text{
    min-height: 120px;
    /* background-color: rgba(255, 0, 0, 0.493); */
    width: 700px;
    color: white;
    font-size: 23px;
    text-align: center;
}

.buttons{
    /* background-color: rgba(255, 0, 0, 0.493); */
    min-height: 50px;
    min-width: 500px;

    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 10px;

}

.button1, .button2{
   
    min-width: 100px;
    height: 50px;
    padding: 5px;
    border: none;
    font-size: 18px;
    border-radius: 40px;
}

.button1{
    background-color: white;
    
}

.button2{
    background-color: black;
    color: white;
    
}

main{
    min-height: 800px;
    max-width: 1000px;
    min-width: 700px;
    margin: auto;
    padding-top: 20px;

    background-color: violet;
  

    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    gap: 5px;
   

}

/* .section-box1, .section-box2 */

.box1{
    background-color: rgba(0, 0, 255, 0.404);
   
    height: 200px;
    width: 400px;
    margin-bottom: 80px;
    margin-top: 100px;
}

.box2{
    background-color: rgba(0, 0, 255, 0.404);
    
    height: 200px;
    width: 500px;
     margin-bottom: 80px;
    margin-top: 100px;
}

#main-section{
    min-height: 400px;
    background-color: chocolate;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#main-section div{
    min-height: 100px;
    width: 80%;

    background-color: rgb(104, 104, 90);
}

footer{
    min-height: 300px;
    max-width: 1000px;
    min-width: 700px;
    margin: auto;

    background-color: aqua;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.social-links{
    width: 30%;
    min-height: 150px;
    background-color: rgba(0, 128, 0, 0.719);
}

.info{
    width: 70%;
    min-height: 200px;
    background-color:rgba(0, 128, 0, 0.781) ;
    padding: 0 5px 0 5px;
}

.footer-ul{
    list-style-type: none;
    min-height: 150px ;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.footer-ul li{
    min-width: 100px;
    min-height: 100px;
    flex-grow: 1;
    

}

.footer-boxes{
    width: 1000px;
    height: 100px;

    background-color: darkgoldenrod;

    display: flex;
    justify-content: space-between;
}

.signin{
    width: 150px;
    height: 50px;;
    background-color: lightblue;
}